@{
    string lang_kz = "kz";
    string lang_rus = "rus";
    string lang_eng = "eng";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project_site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project_site.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true"/>
</head>
<body>
    <header class="navbar" style="background-color:#242582">
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">project_site</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Logreg">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
        
        <nav class="logotipo TRARARARARAR" style="background-color:#242582; margin-top:-10px;">
            <div class="logo" style="display: flex;align-items: center; background-color:#242582;">
                <span style="color:white; font-size:26px; font-weight:bold; letter-spacing: 1px;margin-left: 20px;">KVASDAR</span>
                <button class ="button1" id="changeCurrencyBtn">KZT</button>
                <button class="button2" id="changeLanguageBtn"> <img style="height:50px" src="/flag.svg"/></button>
                

                <div id="currencyPopup" class="popup">
                    <div class="popup-content">
                        <span class="close" id="currencyCloseBtn">&times;</span>
                        <button>KZT</button>
                        <button>USD</button>
                        <button>RUB</button>
                        <button>EUR</button>
                    </div>
                </div>

                <div id="languagePopup" class="popup">
                    <div class="popup-content">
                        <span class="close" id="languageCloseBtn">&times;</span>
                        
                        <button><a style="color:black; text-decoration:none;" asp-area="" asp-controller="Home" asp-action="IndexKZ"><img style="height:50px" src="/flag_kz.svg.svg" /> @lang_kz</a></button>
                        <button><a style="color:black; text-decoration:none;" asp-area="" asp-controller="Home" asp-action="Index"><img style="height:50px" src="/flag.svg" /> @lang_rus</a></button>
                        <button> <a style="color:black; text-decoration:none;"  asp-area="" asp-controller="Home" asp-action="IndexENG"><img style="height:50px" src="/usa-flag-circular-17882.svg" /> @lang_eng</a></button>
                    </div>
                </div>

                <div>
                    <span>
                        <button class="button3" id="playVideoBtn">PACXALOCHKA</button>
                        <div class=" enot">
                        <video id="myVideo" controls>
                            <source src="~/baby-raccoon-raccoon.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                        </div>
                    </span>
                </div>

                
                <span style="color:white; font-size:26px; font-weight:bold; letter-spacing: 1px;margin-left: 20px;" class=" logreg">
                    <a class="login1" asp-area="" asp-controller="Register" asp-action="Logreg">Login</a>
                    <a class="register1" asp-area="" asp-controller="Register" asp-action="SignUp">Sign</a>

                </span>

                
               
            </div>
        </nav>
        <nav style="background-color:#242582">
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                <li><a  asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Content" asp-action="MainPage">Products</a></li>
                <li><a asp-area="" asp-controller="Profile" asp-action="User" >Profile</a></li>
                <li><a asp-area="" asp-controller="Content" asp-action="Contact">Contact </a></li>
            </ul>
        </nav>
        <script src ="~/js/XOCHY_KYSCHATI_OTPYSTITE_PZ.cs.js"></script>
        <script src="/js/site.js"></script>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
